.movie-container {
    background: #525252;
    padding: 20px 10px 0 10px;
}

.movie-filter {
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 60px;
    display: flex;
    padding: 5px 20px;
    margin-bottom: 25px;
}