a {
    text-decoration: none !important;
}

.movie-container {
    background: #525252;
    padding: 20px 10px 0 10px;
}

.movie-container-main {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-filter {
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 25px;
}

@media(min-width: 576px) {
    .movie-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width: 768px) {
    .movie-container {
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .movie-item {
        padding: 0;
    }

    .movie-filter {
        margin-bottom: 40px;
    }
    
}

@media(min-width: 1200px) {
    .movie-container-main {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .movie-container {
        min-width: 1200px;
        max-width: 1200px;
    }
}