@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttom-custom {
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    background: #FFC700;
    border-radius: 4px;
    border: none;
    margin-top: 40px;
}

body {
    background-color: #525252 !important;
}